@model IEnumerable<ProyectoCore.Models.Exportacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaExportacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrabajadorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaExportacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTrabajadorNavigation.Cedula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdExportacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdExportacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdExportacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
